<div class="pswp-gallery-wrapper">
	<header th:if="${config.displayHeader}">
		<h1 th:text="${name}">
			Gallery
		</h1>
	</header>
	
	<div
	th:class="
	'pswp-gallery-container image-container row clearfix' +	${(style.thumbnails and style.thumbnails.style and style.thumbnails.style.vAlign) ? ' vertical-align' : ''}"
	th:attr="user-settings=${userSettings}"
	itemscope=""
	itemtype="http://schema.org/ImageGallery"
	>
	<figure
	th:class="${style.cols + ''}"
	th:each="image, index : ${images}"
	itemprop="associatedMedia"
	itemscope=""
	itemtype="http://schema.org/ImageObject"
	>
	<a
	th:attr="data-size=${image.dimensions[0] + 'x' + image.dimensions[1]}"
	th:href="${portal.imageUrl({ '_id=' + image.id, '_scale=max(1920)'})}"
	itemprop="contentUrl"
	>
	<img
	th:class="'img-responsive' + ${(style.thumbnails and style.thumbnails.style and style.thumbnails.style.shape) ?	' ' + style.thumbnails.style.shape : '' }"
	th:src="${portal.imageUrl({ '_id=' + image.id, '_scale=max(768)'})}"
	/>
	<figcaption
	th:class="${(cpt.hide) ? 'sr-only' : ''}"
	th:if="${(style.thumbnails and style.thumbnails.captions)}"
	th:with="cpt=${style.thumbnails.captions}"
	>
		<div th:remove="${(image.title == '' or !cpt.title) ? 'all' : 'tag'}">
		<strong th:text="${image.title}" />
		<br/>
		</div>
		<div th:remove="${(image.caption == '' or !cpt.caption) ? 'all' : 'tag'}">
		<em
		th:remove="${cpt.caption ? 'none' : 'all'}"
		th:text="${image.caption}"
		/>
		<br/>
		</div>
		<div th:remove="${(cpt.artist and (image.artist or (cpt.defaultText and cpt.defaultText.artist))) ? 'tag' : 'all'}">
		<span th:text="${( 
		(cpt.defaultText and cpt.defaultText.artist)
		? cpt.defaultText.artist
		: (
		(cpt.preText and cpt.preText.artist)
		?	cpt.preText.artist + ' ' : ''
		)	+ image.artist )}"/>
		<br/>
		</div>
		<div th:remove="${(cpt.copyright and (image.copyright or (cpt.defaultText and cpt.defaultText.copyright))) ? 'tag' : 'all'}">
		<span th:text="${( 
		(cpt.defaultText and cpt.defaultText.copyright)
		? cpt.defaultText.copyright
		: (
		(cpt.preText and cpt.preText.copyright)
		?	cpt.preText.copyright + ' ' : ''
		)	+ image.copyright )}"/>
		</div>
	</figcaption>
</a>
</figure>
</div>
</div>
